---
# Set up basic colors:  Light grays on dark grays
#
default_font_color: "#ddd"
default_background_color: "#333"
default_article_color: "#444"
#
#
# Set up accent colors:  John Deere yellow (#FF0) and green (#383)
#
# Link colors
link_color:  "#ff0"
link_color_hover:  "#cc0"
#
# Nav button current
nav_button_current_color: "#ff0"
nav_button_current_background: "#383"
#
# Post list sidebar items
sidebar_item_color:  "#383"
#
# Post category element
category_gradient_light:  "#338833"
category_gradient_dark:  "#245f24"
#
# Post date element
meta_date_color: "#aaa"
---

/* Base */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: 'Alegreya Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 300;
  background: {{page.default_background_color}};
  color: {{page.default_font_color}};
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 3px 30px rgba(0,0,0,.3);
}
.clear {
  display: block;
}

.clear:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}



/* Sections */


body > section, body > footer {
  float: left;
  width: 100%;
  clear: both;
}
body > header {
  display: inline-block;
}


/* Header */

#maintitle {
    margin-top: 0.5em;
    font-weight: 700;
    font-size: 54pt;
}
#subtitle {
    font-weight: 400;
    font-size: 36pt;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0.25em;
}

#nav_logo {
    margin: 0.25em 2.5em 0.5em 2.5em;
}

nav.nav_logo h1 {
    font-size: 32px;
}

nav.nav_logo h2 {
    font-size: 16px;
}

.hero_image img {
    width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

nav li {
  display: inline-block;
  margin-top: 52px;
}

.nav_button a {
  font-weight: 900;
  font-size: 18px;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.main-nav ul {
  float: right;
}

.main-nav li.current a {
  background: {{page.category_gradient_light}};
  background: -moz-linear-gradient(
      top,
      {{page.category_gradient_light}} 0%,
      {{page.category_gradient_dark}} 100%);
  background: -webkit-gradient(
      linear, left top, left bottom,
      color-stop(0%,{{page.category_gradient_light}}),
      color-stop(100%,{{page.category_gradient_dark}}));
  background: -webkit-linear-gradient(
      top,
      {{page.category_gradient_light}} 0%,
      {{page.category_gradient_dark}} 100%);
  background: -o-linear-gradient(
      top,
      {{page.category_gradient_light}} 0%,
      {{page.category_gradient_dark}} 100%);
  background: -ms-linear-gradient(
      top,
      {{page.category_gradient_light}} 0%,
      {{page.category_gradient_dark}} 100%);
  background: linear-gradient(
      to bottom,
      {{page.category_gradient_light}} 0%,
      {{page.category_gradient_dark}} 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='{{page.category_gradient_light}}',
      endColorstr='{{page.category_gradient_dark}}',
      GradientType=0 );
  color: {{page.nav_button_current_color}};
  box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5);
}

@media (max-width: 629px){
  .main-nav li {
      display: block;
      text-align: center;
      height: 39px;
  }
  #nav_logo {
      display: none;
  }
  .main-nav .show-on-mobiles {
    display: inline;
  }
  .hide-on-mobiles {
    display: none;
  }
  #maintitle {
    font-size: 36pt;
  }
  #subtitle {
    font-size: 24pt;
  }
}

@media (max-width: 880px){
   #logo {
       display: none;
   }
}


/* Social media buttons */
.share_button {
    margin-top: 0.25em;
    width: 24px;
}
.social_buttons {
    float: right;
    margin-right: 2em;
}
.social_buttons a {
    padding-right: 0.5em;
}

@media (max-width: 629px){
  #social_buttons {
      display: none;
  }
}


/*
 * Intro
 *
 * Front page, after header, a line of text
 */
.intro {
    font-size: 50px;
}

@media (min-width: 629px){
  .intro p {
    font-size: 2.5em;
  }
}

/* Features boxes */
.features .unit {
    margin-bottom: 2em;
}

.feature {
    padding: 0.5em 0.75em 0.5em 1em ;
    border-radius: 15px;
    background: {{page.default_article_color}};
    height: 100%;
    margin: 0 0.5em;
}

.feature img {
    /* Center images in feature blocks */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* About page */
#about_image {
    width: 400px;
    float: right;
}

/* Article - Used for both docs and news */


article {
  border-radius: 10px;
  padding: 20px;
  margin: 0 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,.1);
  font-size: 16px;
  background-color: {{page.default_article_color}};
}


@media (max-width: 480px){
}

@media (max-width: 568px){
  article {
    margin: 0;
  }
  article ul {
    padding-left: 20px;
  }
}

@media (min-width: 768px){
  article {
    padding: 40px 40px 30px;
    font-size: 21px;
  }
}

/* Right-side nav - used by both docs and news */

aside {
  padding-top: 30px;
}

aside h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 0 30px 10px 30px;
  margin-left: -30px;
  display: inline-block;
  border-bottom: 2px solid {{page.default_article_color}};
}

aside ul {
  padding-left: 0;
}

aside ul:first-child {
  margin-top: 0;
}

/* blog title side-list */
aside li {
  /* remove list bullets */
  list-style-type: none;
  /* indent 2nd line when wrapping */
  padding-left: 1em;
  text-indent:-1em;

}

aside li a {
  font-size: 16px;
  position: relative;
  color: {{page.sidebar_item_color}};
}

/* Blog title side-list, current item */
aside li.current a { color: {{page.link_color}}; }
aside li.current a:hover { color: {{page.link_color_hover}}; }
aside li.current a:before {
  /* - triangular indicator */
  content: "";
  border-color: transparent transparent transparent {{page.default_article_color}};
  border-style: solid;
  border-width: 10px;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: -30px;
}

/* Blog posts */

article h2:first-child {
  margin-top: 0;
}

.post-category,
.post-meta {
  display: inline-block;
  vertical-align: middle;
  font-size: .8em;
}

.post-category {
  display: inline-block;
  margin-left: -30px;
  padding: 6px 10px 8px;
  padding-left: 50px;
  border-radius: 0 5px 5px 0;
  position: relative;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(0,0,0,.3);
  background: {{page.category_gradient_light}};
  background: -moz-linear-gradient(top, {{page.category_gradient_light}} 0%, {{page.category_gradient_dark}} 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,{{page.category_gradient_light}}), color-stop(100%,{{page.category_gradient_dark}}));
  background: -webkit-linear-gradient(top, {{page.category_gradient_light}} 0%,{{page.category_gradient_dark}} 100%);
  background: -o-linear-gradient(top, {{page.category_gradient_light}} 0%,{{page.category_gradient_dark}} 100%);
  background: -ms-linear-gradient(top, {{page.category_gradient_light}} 0%,{{page.category_gradient_dark}} 100%);
  background: linear-gradient(to bottom, {{page.category_gradient_light}} 0%,{{page.category_gradient_dark}} 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{page.category_gradient_light}}', endColorstr='{{page.category_gradient_dark}}',GradientType=0 );
}

.label {
  float: left;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

@media (max-width: 568px){
  .post-category {
    padding-left: 30px;
  }
}

@media (min-width: 768px){
  .post-category {
    margin-left: -50px;
  }
}

.post-category:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0px;
  border-color: transparent {{page.category_gradient_dark}} {{page.category_gradient_dark}} transparent;
  border-style: solid;
  border-width: 5px;
  width: 0;
  height: 0;
}

.avatar {
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
}

.post-meta {
  padding: 5px 0;
  color: {{page.meta_date_color}};
  font-weight: 600;
}

.post-date,
.post-author {
  margin-left: 10px;
}


/* Blog list */
a.read-more {
  text-align: right;
  background: {{page.category_gradient_light}};
  background: -moz-linear-gradient(
      top,
      {{page.category_gradient_light}} 0%,
      {{page.category_gradient_dark}} 100%);
  background: -webkit-gradient(
      linear, left top, left bottom,
      color-stop(0%,{{page.category_gradient_light}}),
      color-stop(100%,{{page.category_gradient_dark}}));
  background: -webkit-linear-gradient(
      top,
      {{page.category_gradient_light}} 0%,
      {{page.category_gradient_dark}} 100%);
  background: -o-linear-gradient(
      top,
      {{page.category_gradient_light}} 0%,
      {{page.category_gradient_dark}} 100%);
  background: -ms-linear-gradient(
      top,
      {{page.category_gradient_light}} 0%,
      {{page.category_gradient_dark}} 100%);
  background: linear-gradient(
      to bottom,
      {{page.category_gradient_light}} 0%,
      {{page.category_gradient_dark}} 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='{{page.category_gradient_light}}',
      endColorstr='{{page.category_gradient_dark}}',
      GradientType=0 );
  padding: 0.5em 2em;
  border-radius: 5px;
  font-weight: 900;
  font-size: 18px;
}

/* Code Highlighting */


pre, code {
  white-space: pre;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
  font-size: 14px;
  padding: 0 .5em;
  line-height: 1.8em;
  {# TODO(zultron):  does this need to be templated? #}
  background: #333;
  color: #FFF;
  border-radius: 3px;
}

@media (min-width: 768px){
  pre, code {
    font-size: 16px;
  }
}

.note code {
  background-color: rgba(0,0,0,0.2);
  margin-left: 2.5px;
  margin-right: 2.5px;
  font-size: 0.8em;
}

.highlight {
  padding: 10px 0;
  width: 100%;
  overflow: auto;
}

/* HTML Elements */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Alegreya Sans SC', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: {{page.link_color}};
  /* remove underline */
  text-decoration: none;
  /* hover transition */
  transition: all .25s;
   -moz-transition: all .25s;
   -webkit-transition: all .25s;
}

a:hover {
  color: {{page.link_color_hover}};
}

/* permalink
 *
 * use octicon link symbol; only visible when hovering over element
 */
h1 .octicon-link,
h2 .octicon-link,
h3 .octicon-link,
h4 .octicon-link,
h5 .octicon-link,
h6 .octicon-link{
    display: none;
    vertical-align: middle;
}

h1:hover .octicon-link,
h2:hover .octicon-link,
h3:hover .octicon-link,
h4:hover .octicon-link,
h5:hover .octicon-link,
h6:hover .octicon-link{
    /* display when hovering */
    display: inline-block;
}

strong {
  font-weight: 700;
}

p {
  line-height: 1.5em;
}

.left { float: left; }
.right { float: right; }
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

/* Article HTML */

article h2,
article h3,
article h4,
article h5,
article h6 {
  margin: 1em 0;
}

article ul li p {
  margin: 0;
}

article ul li, article ol li {
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

article ul li blockquote {
  margin: 10px 0;
}

blockquote {
  border-left: 2px solid #777;
  padding-left: 20px;
  font-style: italic;
  font-size: 18px;
  font-weight: 500;
}


/* Tables */

table {
  width: 100%;
  background: #555;
  margin: .5em 0;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

thead {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  background: #3a3a3a;
  background: -moz-linear-gradient(top,  #3a3a3a 0%, #1e1e1e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a3a), color-stop(100%,#1e1e1e));
  background: -webkit-linear-gradient(top,  #3a3a3a 0%,#1e1e1e 100%);
  background: -o-linear-gradient(top,  #3a3a3a 0%,#1e1e1e 100%);
  background: -ms-linear-gradient(top,  #3a3a3a 0%,#1e1e1e 100%);
  background: linear-gradient(to bottom,  #3a3a3a 0%,#1e1e1e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#1e1e1e',GradientType=0 );
}

thead th {
  position: relative;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}

thead th:first-child {
  border-top-left-radius: 5px;
}

thead th:last-child {
  border-top-right-radius: 5px;
}

td {
  padding: .5em .75em;
}

td p {
  margin: 0;
}

th {
  text-transform: uppercase;
  font-size: 16px;
  padding: .5em .75em;
  text-shadow: 0 -1px 0 rgba(0,0,0,.9);
  color: #888;
}

tbody td {
  border-top: 1px solid rgba(0,0,0,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  background: -moz-linear-gradient(top,  rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#00ffffff',GradientType=0 );
}

td p {
  font-size: 16px;
}

td p code {
  font-size: 14px;
}

code.option, th .option, code.filter, th .filter {
  color: #50B600;
}

code.flag, th .flag, code.output, th .output {
  color: #049DCE;
}

code.option, code.flag, code.filter, code.output {
  margin-bottom: 2px;
}

/* Note types */

.note {
  margin: 30px 0;
  margin-left: -30px;
  padding: 20px 20px 24px;
  padding-left: 50px;
  border-radius: 0 5px 5px 0;
  position: relative;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(0,0,0,.3);
  background: #7e6d42;
  background: -moz-linear-gradient(top,  #7e6d42 0%, #5c4e35 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7e6d42), color-stop(100%,#5c4e35));
  background: -webkit-linear-gradient(top,  #7e6d42 0%,#5c4e35 100%);
  background: -o-linear-gradient(top,  #7e6d42 0%,#5c4e35 100%);
  background: -ms-linear-gradient(top,  #7e6d42 0%,#5c4e35 100%);
  background: linear-gradient(to bottom,  #7e6d42 0%,#5c4e35 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e6d42', endColorstr='#5c4e35',GradientType=0 );
}

@media (max-width: 568px){
  .note {
    margin-right: -30px;
  }
}

@media (min-width: 768px){
  .note {
    margin-left: -50px;
  }
}

.note:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0px;
  border-color: transparent #222 #222 transparent;
  border-style: solid;
  border-width: 5px;
  width: 0;
  height: 0;
}

.note h5, .note p {
  margin: 0;
  color: #fff;
}

.note h5 {
  line-height: 1.5em;
  font-weight: 900;
  font-style: normal;
}

.note p {
  font-weight: 400;
  font-size: .75em;
}

.info {
  background: #0389aa;
  background: -moz-linear-gradient(top,  #0389aa 0%, #00617f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0389aa), color-stop(100%,#00617f));
  background: -webkit-linear-gradient(top,  #0389aa 0%,#00617f 100%);
  background: -o-linear-gradient(top,  #0389aa 0%,#00617f 100%);
  background: -ms-linear-gradient(top,  #0389aa 0%,#00617f 100%);
  background: linear-gradient(to bottom,  #0389aa 0%,#00617f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0389aa', endColorstr='#00617f',GradientType=0 );
}

.warning {
  background: #9e2812;
  background: -moz-linear-gradient(top,  #9e2812 0%, #6f0d0d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e2812), color-stop(100%,#6f0d0d));
  background: -webkit-linear-gradient(top,  #9e2812 0%,#6f0d0d 100%);
  background: -o-linear-gradient(top,  #9e2812 0%,#6f0d0d 100%);
  background: -ms-linear-gradient(top,  #9e2812 0%,#6f0d0d 100%);
  background: linear-gradient(to bottom,  #9e2812 0%,#6f0d0d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e2812', endColorstr='#6f0d0d',GradientType=0 );
}

.unreleased {
  background: rgb(205,146,57); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(top,  rgba(205,146,57,1) 0%, rgba(162,117,40,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,146,57,1)), color-stop(100%,rgba(162,117,40,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(205,146,57,1) 0%,rgba(162,117,40,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(205,146,57,1) 0%,rgba(162,117,40,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(205,146,57,1) 0%,rgba(162,117,40,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(205,146,57,1) 0%,rgba(162,117,40,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd9239', endColorstr='#a27528',GradientType=0 ); /* IE6-8 */
}

.info:before {
  border-color: transparent #00617f #00617f transparent;
}

.warning:before {
  border-color: transparent #6f0d0d #6f0d0d transparent;
}

.unreleased:before {
  border-color: transparent #664719 #664719 transparent;
}

.note:after {
  content: "★";
  color: #fc0;
  position: absolute;
  top: 14px;
  left: 14px;
  font-size: 28px;
  font-weight: 700;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.info:after {
  content: "ⓘ";
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 28px;
  font-weight: 700;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.warning:after {
  content: "‼";
  color: #fc0;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.unreleased:after {
  content: "⚒";
  color: #2b2a12;
  position: absolute;
  top: 8px;
  left: 15px;
  font-size: 38px;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
}

/* Responsive tables */

@media (max-width: 768px){
  .mobile-side-scroller {
    overflow-x: scroll;
    margin: 0 -40px;
    padding: 0 10px;
  }
}
