<section class="body_content grid">
  <div class="unit whole">
    <article>
      <h3>Cloud-enabled machine control applications</h3>
      <p>
	We believe the Internet of Things, where the Industrial
	Revolution and the Internet Revolution "dovetail" together, is
	poised to unleash new incredible power that will change our
	lives.
      </p>

      <h3>Open-source</h3>
      <p>
	Dovetail Automata leverages open-source software, central to
	the Internet and Maker Revolutions. Companies reduce risk and
	increase bargaining power when adopting open-source software.
	Vendor lock-in does not exist, and enormous code and developer
	resources exist in thousands of project communities.
      </p>

      <h3>Machinekit</h3>
      <p>
	Since our company's founding, we have invested especially
	heavily in the
	<a href="http://machinekit.io">Machinekit</a> open-source
	machine controller project, which is proven in industrial
	applications and is powerful and flexible enough for the most
	complex machine control applications. In the year since we
	co-founded the project in April 2014, the software has made
	enormous technological leaps, the community has grown to
	hundreds, and received repeated attention from the media. We
	are proud that our vision is shared by so many others!
      </p>

      <h3>Let us help you</h3>
      <p>
	Dovetail Automata is ready to help you with your full
	application software stack, from core machine controls to user
	interfaces to cloud infrastructure.
      </p>
      
    </article>


    <article id="dbdm">
      <h3>Design, Build, Deploy and Manage...</h3>

      Today, your hardware is only as valuable as the software that
      controls it, but software only grows more and more complex. We
      want to help you in all phases of your software lifecycle:
      <ul>
	<li>
	  Design your software with cutting edge machine control
	  technology and flexible, intuitive user interfaces.
	</li>
	<li>
	  Select and configure the best software building blocks, and
	  develop custom hardware and software interfaces.
	</li>
	<li>
	  Build and deploy the entire software stack, from the
	  application and operating system on the device itself to
	  cloud services and mobile apps in the users' hands.
	</li>
	<li>
	  Manage your devices: software updates, monitoring,
	  management information collection and user support.
	</li>
      </ul>
    </article>


    <article id="mcas">
      <h3>...Machine Control and Automation Software...</h3>
      <p>
	Your machine needs the best control system. It may have numerous
	switch, sensor and encoder inputs. It may produce coordinated
	motion in motorized joints or talk to devices attached by field
	buses. Interconnecting these hardware components to perform
	accurately, efficiently and safely requires software components:
	logic gates, PLC functions, PID controllers, or even a complex
	motion controller.
      </p>
      <p>
	We can help integrate your machine controls, and give you the
	power to do it yourself with tools intuitive to those with
	electronics backgrounds: programming optional. In the rare case
	you need custom components not available out of the box, we can
	help develop those.
      </p>
    </article>


    <article id="aaad">
      <h3>...Accessible Anywhere, on Any Device</h3>
      <p>
	Universal access has never been in greater demand. Do your users
	want to:
	<ul>
	  <li>
	    Schedule their morning espresso brew from a smart phone?
	  </li>
	  <li>
	    Maintain control of a 20 ton CNC machine tool with a tablet
	    even when stepping away from the main operator panel?
	  </li>
	  <li>
	    Analyze real-time production throughput data from a laptop
	    on the road?
	  </li>
	</ul>
      </p>
      <p>
	We make access easy, whether on the LAN or the cloud,
	whether on a mobile device or a PC, and on all popular
	hardware and operating systems.
      </p>
    </article>
  </div>
</section>
