<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <ul>
      <li class="{% if page.title == 'Articles' %}current{% endif %}">
        <a href="{{site.baseurl}}/articles.html">All Articles</a>
      </li>
    </ul>
    <h4>Recent Posts</h4>
    <ul>
      {% for post in site.posts limit:10 %}
      <li class="{% if page.title == post.title %}current{% endif %}">
        <a href="{{site.baseurl}}/{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </aside>
</div>
