<section class="features">
  <div class="grid">
      <div class="unit one-third">
         <div class="feature">
	   <img src="{{site.baseurl}}/images/mobile-robot.svg">
            <h2>Own Your Process</h2>
            <p>Insert some inspiring text about how an free-as-in-speech toolchain reduces risk</p>
        </div>
    </div>
    <div class="unit one-third">
        <div class="feature">
	   <img src="{{site.baseurl}}/images/cnc-mill.svg">
        <h2>Accelerate Development</h2>
        <p>Wow, such fast!  Much knowing things, very expertise! Holy time saver!
        </p>
    </div>
    </div>
    <div class="unit one-third">
        <div class="feature">
	   <img src="{{site.baseurl}}/images/machinekit-logo.svg">
      <h2>Flexible</h2>
      <p> There are majestic and wonderful things you can do with open source automation.
      </p>
  </div>
    </div>
    <div class="clear"></div>
  </div>
</section>

