<header class="grid">
  <!-- Dovetail Automata logo and name in left half -->
  <logo class="nav_logo half unit center-on-mobiles">
    <img src="{{site.baseurl}}/images/da_logo_blk.svg">
  </logo>
  <!-- Nav bar in right half -->
  <nav class="main-nav unit half hide-on-mobiles">
    <ul>
      <li class="{% if page.overview %}current{% endif %} nav_button">
	<a href="{{site.baseurl}}/">Home</a>
      </li>
      <li class="{% if page.about %}current{% endif %} nav_button">
	<a href="{{site.baseurl}}/about.html">About</a>
      </li>
      <li class="{% if page.blog %}current{% endif %} nav_button">
	<a href="{{site.baseurl}}/blog.html">Blog</a>
      </li>
      <!-- <li class="social_buttons hide-on-mobiles">  -->
      <!-- 	<a -->
      <!-- 	   href="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.dovetail-automata.com%2F&width&layout=button&action=like&show_faces=false&share=false&height=35&appId=130291730288" -->
      <!-- 	   alt="Like this page on Facebook"> -->
      <!-- 	  <img -->
      <!-- 	     class="share_button" -->
      <!-- 	     src="{{site.baseurl}}/images/facebook-like-256.png" -->
      <!-- 	     title="Like this page on Facebook"> -->
      <!-- 	</a> -->
      <!-- </li> -->
    </ul>
  </nav>
</header>

