<section class="intro grid">
  <div class="unit whole">
    <div class="intro-box">
      <a href="/about.html" class="align-center">We help companies:</>
      <ul class="show-on-mobiles">
	<li class="indent">
	  <a href="#dbdm">
	    design, build, deploy and manage
	  </a>
	</li>
	<li class="indent">
	  <a href="#mcas">
	    machine control and automation software
	  </a>
	</li>
	<li class="indent">
	  <a href="#aaad">
	    accessible anywhere, on any device
	  </a>
	</li>
      </ul>
    </div>
  </div>
</section>

<section class="features grid">

  <div class="unit one-third" id="dbdm">
    <div class="feature">
      <img src="{{site.baseurl}}/images/mobile-robot.svg"/>
      <a href="/about.html#dbdm">
	<h2>Design, Build, Deploy and Manage...</h2>
      </a>
      <p>
	Today, your hardware is only as valuable as the software that
	controls it.  And software grows increasingly complicated.
	We want to help you with all stages of your software lifecycle.
      </p>
    </div>
  </div>

  <div class="unit one-third" id="mcas">
    <div class="feature">
      <img src="{{site.baseurl}}/images/embedded-board.svg"/>
      <a href="/about.html#mcas">
	<h2>...Machine Control and Automation Software...</h2>
      </a>
      <p>
	Your electronics need sophisticated interconnections to
	control your hardware well. Machines as simple as incubators
	or as complex as CNC machine tools all benefit by quick,
	simple integration with industrial-class control software.
      </p>
    </div>
  </div>

  <div class="unit one-third" id="aaad">
    <div class="feature">
      <img src="{{site.baseurl}}/images/cnc-mill.svg"/>
      <a href="/about.html#aaad">
	<h2>...Accessible Anywhere, on Any Device</h2>
      </a>
      <p>
	Universal access has never been in greater demand. We make
	access to users, operators and managers easy, whether on the
	LAN or the cloud, a mobile device or a PC.
      </p>
    </div>
  </div>

</section>
