<section class="intro grid">
  <div class="unit whole">
    <div>We help companies</div>
    <ul>
      <li class="indent">
      design, build, deploy and manage
      </li>
      <li class="indent">
      machine control and automation software
      </li>
      <li class="indent">
      accessible anywhere, on any device
      </li>
    </ul>
  </div>
</section>

<section class="features grid">

  <div class="unit one-third">
    <div class="feature">
      <img src="{{site.baseurl}}/images/mobile-robot.svg"/>
      <h2>Design, Build, Deploy and Manage</h2>
      <p>
	Today, your hardware is only as valuable as the software that
	controls it.  And software grows increasingly complicated.
	We want to help you with all stages of your software lifecycle.
      </p>
    </div>
  </div>

  <div class="unit one-third">
    <div class="feature">
      <img src="{{site.baseurl}}/images/embedded-board.svg"/>
      <h2>Machine control and automation</h2>
      <p>
	Your electronics need sophisticated interconnections to
	control your hardware well. Machines as simple as incubators
	or as complex as CNC machine tools all benefit by quick,
	simple integration with industrial-class control software.
      </p>
    </div>
  </div>

  <div class="unit one-third">
    <div class="feature">
      <img src="{{site.baseurl}}/images/cnc-mill.svg"/>
      <h2>Accessible anywhere</h2>
      <p>
	Universal access has never been in greater demand. We make
	access to users, operators and managers easy, whether on the
	LAN or the cloud, a mobile device or a PC.
      </p>
    </div>
  </div>

</section>
