<div class="grid navbar">
    <div class="unit one-fifth">DA</div>
    <div class="unit three-fifths">
        <nav class="main-nav">
            {% include primary-nav-items.html %}
            <div class="social_buttons">
                <a href="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.dovetail-automata.com%2F&width&layout=button&action=like&show_faces=false&share=false&height=35&appId=130291730288"><img class="share_button" src="/images/facebook-like-256.png"></a>
            </div>
        </nav>
    </div>
    
</div>
